<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title> Bib ---> registration</title>
	<script src="scripts/registration.js"></script>
	<link href="styles/reg_style.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="attachments/favicon.ico" type="image/x-icon">
	<link
		href="https://fonts.googleapis.com/css?family=Barlow+Condensed:800i|Roboto:100,400&display=swap&subset=latin-ext&effect=shadow-multiple|anaglyph"
		rel="stylesheet" type="text/css">
</head>
<nav>
	<ul>
		<h3>
			<li><img class="resize" src="attachments/favicon1.png" ></li>
			<li><a href="https://localhost:81/">Home</a></li>
			<li><a href="https://localhost:81/add-article">Add</a></li>
			<li><a href="https://localhost:80/">Log in</a></li>
			<li><a href="https://localhost:80/registration">Sign up</a></li>
		</h3>
	</ul>
</nav>

<body>
	<header>
		<h1 class="font-effect-shadow-multiple"> Zmień swoje hasło</h1>
	</header>
	<article>
		<section>
			<form id="registration-form" class="registration-form"></form>
			<table>
				<tr>
					<td><label for="old_password" class="required">Stare hasło</label></td>
					<td><input id="old_password" type="password" name="login" placeholder="old_password" /></td>
				</tr>
				<tr>
					<td><label for="password" class="required">Nowe hasło</label></td>
					<td><input id="password" type="password" name="password" placeholder="**********" /></td>
				</tr>
				<tr>
					<td><label for="repeat-password" class="required">Powtórz nowe hasło</label></td>
					<td><input id="repeat-password" type="password" name="repeat-password" placeholder="**********" />
					</td>
				</tr>
			</table>
			<input name="csrf_token" type="hidden" id="token" value="{{ csrf_token }}">
			<input id="button-reg-form" type="submit" value="Zarejestruj" onclick="changePass()" />
			</form>
		</section>
	</article>
</body>
<footer>
	<p>&copy Jakub Przygodzki, 285643 </p>
</footer>

</html>